@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: pink;
    font-family: 'Times New Roman', Times, serif;
}
        
div{
    border: 3px, dashed, #ffffff;
    text-align: center;
    padding: 20px;
}
        
marquee{
    border: 4px, dashed, red;
    padding: 10px;
}
        
button{
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    cursor: pointer;
    background: hsl(0deg 0% 75%);
    box-shadow:
        inset -1px -1px #292929,
        inset 1px 1px #fff,
        inset -2px -2px rgb(158, 158, 158),
        inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

button:active{
    box-shadow: 
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}

p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}