body{
    margin-top: 20px;
    background: black;
    border: 5px dashed orangered;
    text-align: center;
}

div{
    width: 950px;
    margin: 20px auto;
    border: 6px double cyan;
    background: royalblue;
    padding: 20px;
    box-shadow: 0 0 20px paleturquoise;
}

marquee{
    color: white;
    font-size: 20px;
    background: royalblue;
    padding: 8px;
    border: 3px dashed orange;
}